<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<head>


    <meta charset="utf-8">
    <title>Contacts - Jonathan Dimbleby</title>
    <link rel="SHORTCUT ICON" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon">


    <link rel="canonical" href="https://template65305.motopreview.com/contacts/">
    <meta property="og:title" content="Contacts">
    <meta property="og:url" content="https://template65305.motopreview.com/contacts/">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/fontawesome-webfont.woff2?v=4.7.0">
    <link rel=" stylesheet" href="assets/css/assets.min.css">
    <link rel="stylesheet" href="assets/css/cookie.css">
    <style>
        @import url(assets/css/css.css);
    </style>
    <link rel="stylesheet" href="assets/css/styles.css" id="moto-website-style">










</head>

<body class="moto-background moto-website_live">






    <div class="page">

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style data-draggable-disabled>

                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div data-widget-id="wid_1514903983_ksogje6xp" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer
       " data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
                                <div class="moto-widget-spacer-block" style="height:10px"></div>
                            </div>
                            <div class="moto-widget moto-widget-container moto-container_header_5a4b99577" data-widget="container" data-container="container" data-css-name="moto-container_header_5a4b99577" data-moto-sticky="{ }">


                                <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row
       " data-spacing="sasa" style data-draggable-disabled>

                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column
       " data-container="container" data-spacing="aaaa">

                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aaaa" data-animation data-draggable-disabled>
                                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <p class="moto-text_system_1"><a href="index.html" data-action="page" data-id="1" class="moto-link">JonathanDimbleby</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column
       " data-container="container" data-spacing="aaaa">

                                                <div data-widget-id="wid_1514887620_1k9qmtarx" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto
        moto-spacing-left-auto" data-preset="default" data-widget="menu">
                                                    <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                                    <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                                        <li class="moto-widget-menu-item">
                                                            <a href="index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Home</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                            <a href="about-me.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">About me</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="book.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Book</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="contacts.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Contacts</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-widget-id="wid_1514918914_13rs9fc9o" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer
       " data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
                                <div class="moto-widget-spacer-block" style="height:10px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="section-content" class="content page-15 moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="block" data-spacing="mala" style data-bg-position="left top">

                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa
       " style data-bg-position="left top">

                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column
       " data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aama" data-animation>
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <h2 class="moto-text_system_5">Contacts</h2>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa
       " style data-bg-position="left top">

                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column
       " data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aasa" data-animation>
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_207">Adresse: Unter den Linden 2, 10117 Berlin, Deutschland</p>
                                                    <p class="moto-text_207">&nbsp;</p>
                                                    <p class="moto-text_207">Phone: <a href="tel:+4930203040" data-action="call" class="moto-link">+49 30 203040</a></p>
                                                    <p class="moto-text_207">&nbsp;</p>
                                                    <p class="moto-text_207">Email: <a data-action="mail" class="moto-link" href="mailto:info@allbookstyles.com">info@allbookstyles.com</a></p>
                                                </div>
                                            </div>
                                            <div id="wid_1531287822_y0ouuok67" data-widget-id="wid_1531287822_y0ouuok67" class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto
        moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="social_links_extended" data-preset="default">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9711.37827588913!2d13.3969499!3d52.5181519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9fb901171a947c3!2sDeutsches%20Historisches%20Museum!5e0!3m2!1sde!2sru!4v1655719409149!5m2!1sde!2sru"
                                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                <style type="text/css">

                                                </style>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column
       " data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aasa" data-animation>
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_13">Our customer support representatives are ready to help you 24/7, 365 days a year!</p>
                                                </div>
                                            </div>
                                            <div id="wid_1514928850_63p90k154" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto
       " data-preset="default" data-widget="contact_form" data-spacing="aaaa">
                                                <div ng-controller="widget.ContactForm.Controller" ng-init="hash='2@eyJoIjoiU09UQndsRnhWQU1Db1RQdHJmcFVqR1hcL0JIK2hlTDZYdGYzVnFOcWxTSkE9IiwiaSI6IjRFOHUwa2didWVIc3J6V0JOdEJmb2c9PSIsInYiOiJ4TUxFZjNrczE5QmhcLzJzME1rOHBWSFwvYzRwVTB6YjF0OGNDeVp5dGFYcEYxbXdySHRtNjdVWXpJNUhXMnpRaHJ5MVArY1JQS3lsUHBRQXVGUTFFTldRTU96R1B2K09hNkdueWRzODFjNXpnPSJ9'
        ;actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                                                    <form id="wid_1514928850_63p90k154__form" class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
                                                        <div ng-show="sending" class="contact-form-loading"></div>

                                                        <div class="moto-widget-contact_form-group">
                                                            <label for="field_name_wid_1514928850_63p90k154" class="moto-widget-contact_form-label">Your Name</label>
                                                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Your Name *" ng-blur="validate( 'name')" required ng-model-options="{ updateOn:
        'blur' }" name="name" id="field_name_wid_1514928850_63p90k154" ng-model="message.name">
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid">Field is required</span>
                                                        </div>

                                                        <div class="moto-widget-contact_form-group">
                                                            <label for="field_email_wid_1514928850_63p90k154" class="moto-widget-contact_form-label">Enter e-mail</label>
                                                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Enter e-mail *" ng-blur="validate( 'email')" required ng-model-options="{ updateOn:
        'blur' }" name="email" id="field_email_wid_1514928850_63p90k154" ng-model="message.email">
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid">Field is required</span>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine">Incorrect email</span>
                                                        </div>





                                                        <div class="moto-widget-contact_form-group">
                                                            <label for="field_message_wid_1514928850_63p90k154" class="moto-widget-contact_form-label">Message</label>
                                                            <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Message *" ng-blur="validate( 'message')" required ng-model-options="{ updateOn:
        'blur' }" name="message" id="field_message_wid_1514928850_63p90k154" ng-model="message.message"></textarea>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Field is required</span>
                                                        </div>



                                                        <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="showSuccessMessage">
                                                            Your message was sent successfully
                                                        </div>
                                                        <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                                                            Sorry, your message was not sent
                                                        </div>
                                                        <div class="moto-widget-contact_form-buttons">

                                                            <div class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-left" data-preset="default" data-align="left">
                                                                <button type="submit" class="moto-widget-button-link moto-size-large" data-size="large"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">SEND MESSAGE</span></button>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section" data-moto-sticky="{mode: 'smallHeight', direction: 'bottom', mobile: 0}">
        <div class="moto-widget moto-widget-block moto-bg-color_custom1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style data-bg-position="left top">

            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">

                        <div data-widget-id="wid_1514903255_umajjwga5" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer
       " data-preset="default" data-spacing="sama" data-visible-on="mobile-v">
                            <div class="moto-widget-spacer-block" style="height:10px"></div>
                        </div>
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aasa
       " style data-bg-position="left top">

                            <div class="container-fluid">
                                <div class="row" data-container="container">


                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column" data-container="container
       " data-spacing="aaaa" data-bg-position="left top">

                                    </div>
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column" data-container="container
       " data-spacing="aaaa" data-bg-position="left top">

                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aasa" data-animation>
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                <p class="moto-text_system_1" style="text-align: center;"><span class="moto-color5_5"></span><a href="index.html" data-action="page" data-id="1" class="moto-link"><span class="moto-color5_5
       ">JonathanDimbleby</span></a><span class="moto-color5_5"></span></p>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default
       " data-spacing="aaaa" data-animation>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style data-widget="row.column" data-container="container
       " data-spacing="aaaa" data-bg-position="left top">

                                    </div>



                                </div>
                            </div>
                        </div>
                        <div id="wid_1549008863_8befmo5x1" data-widget-id="wid_1549008863_8befmo5x1" class="moto-widget moto-widget-social-links-extended moto-preset-3 moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium
        moto-spacing-left-auto" data-widget="social_links_extended" data-preset="3">
                            <ul class="moto-widget-social-links-extended__list">
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                                    <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                        <span class="moto-widget-social-links-extended__icon fa">&#xf09a;</span>
                                    </a>
                                </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                    <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                        <span class="moto-widget-social-links-extended__icon fa">&#xf099;</span>
                                    </a>
                                </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                                    <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                        <span class="moto-widget-social-links-extended__icon fa">&#xf16d;</span>
                                    </a>
                                </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                                    <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                        <span class="moto-widget-social-links-extended__icon fa">&#xf0e1;</span>
                                    </a>
                                </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-5">
                                    <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                        <span class="moto-widget-social-links-extended__icon fa">&#xf0d5;</span>
                                    </a>
                                </li>
                            </ul>
                            <style type="text/css">

                            </style>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation>
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <p class="moto-text_system_14" style="text-align: center;">Copyright © 2022&nbsp;&nbsp;<a data-action="page" data-id="18" class="moto-link" href="privacy.html">All Rights Reserved</a>.</p>
                            </div>
                        </div>
                        <div data-widget-id="wid_1514903271_rjcw7czxf" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer
       " data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
                            <div class="moto-widget-spacer-block" style="height:10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <div data-moto-back-to-top-button class="moto-back-to-top-button">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>


    <script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = 'https://template65305.motopreview.com/';
        websiteConfig.relativeAddress = '/';
        websiteConfig.addressHash = '30ef02d0d2da449922950bf3066dec87';
        websiteConfig.apiUrl = '/api.php';
        websiteConfig.preferredLocale = 'en_US';
        websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
        websiteConfig.back_to_top_button = {
            "topOffset": 300,
            "animationTime": 500,
            "type": "theme"
        };
        websiteConfig.popup_preferences = {
            "loading_error_message": "The content could not be loaded."
        };
        websiteConfig.lazy_loading = {
            "enabled": true
        };
        websiteConfig.cookie_notification = {
            "enabled": false,
            "content": "<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>",
            "content_hash": "6610aef7f7138423e25ee33c75f23279",
            "controls": {
                "visible": "close,accept",
                "accept": {
                    "label": "Got it",
                    "preset": "default",
                    "size": "medium",
                    "cookie_lifetime": 365
                }
            }
        };
    </script>
    <script src="assets/js/website.assets.min.js" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript" data-cfasync="false">
        angular.module('website.plugins', []);
    </script>
    <script src="assets/js/website.min.js" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript">
        $.fn.motoGoogleMap.setApiKey('AIzaSyCPbz3W389x_owB2TlrqPuMEYCTFVuRvMY');
    </script>



    <script type="text/javascript" src="assets/js/jquery.ihavecookies.js"></script>
</body>

</html>